.radio-description {
    margin-left: 24px; /* Adjust as needed */
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px; /* Adjust font size as needed */
    color: #555; /* Adjust color as needed */
    line-height: 1.5; /* Adjust line height as needed */
}